// timeline framework credit https://codepen.io/mo7amedk7alid29/pen/dRoMwo

@import "variablemix";

.box {
  margin: 0 20%;
  height: 630px;
  //   overflow: hidden;
  padding: 0 0 40px 0;
  // border: red solid 2px;
}

.box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top: 0;
  margin-bottom: 30px;
  // border: black solid 2px;
}

.box ul:last-of-type {
  top: 80px;
  margin-bottom: 300px;
}

.box ul:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px dashed #fff;
  position: absolute;
  top: 0;
  left: 30px;
}

.box ul li {
  margin: 20px 60px 60px;
  position: relative;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  line-height: 20px;
  width: 60%;
}

.box ul li > span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: -30px;
}

.box ul li > span:before,
.box ul li > span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e3be58;
  border: 2px solid #fff;
  position: absolute;
  left: -4.5px;
}

.box ul li > span:before {
  top: -10px;
}
.box ul li > span:after {
  top: 95%;
}

.box .title {
  text-transform: uppercase;
  font-family: $title;
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  line-height: 25px;
}

.box .info {
  color: $text-color;

  .quote {
    margin: 0;
    background-color: #ffffd7;
    font-family: $quote;
    font-size: 15px;
  }
}

.box .source {
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px;
  @include hover;
}

.box .time span {
  position: absolute;
  left: -110px;
  color: #fff;
  font-size: 15px;
  font-family: $title;
  text-transform: uppercase;

  & sup {
    font-size: 11px;
  }
}
.box .time span:first-child {
  top: -16px;
  left: -140px;
  border-bottom: solid #fff 1px;
  font-size: 20px;
}

#year {
  top: -70px;
  font-size: 25px;
  font-weight: none;
  // text-decoration: underline;
  border: 2px solid white;
  padding: 5px;
  font-family: $title;
}

.box .time span:last-child {
  top: 94%;
}
