@import "setup";
@import "timeline";
@import "variablemix";

body {
  margin: 0;
  padding: 0;
  background-color: #e3be58;
  font-family: $text;

  .info {
    position: relative;
    padding-left: 10px;
    &:before {
      content: "\201C";
      font-size: 30px;
      font-family: "Georgia", serif;
      font-style: italic;
      position: absolute;
      top: 0.15em;
      left: -0.12em;
      color: #ffffff;
      font-size: 6em;
      z-index: -1;
    }
    &:after {
      content: "\201D";
      font-size: 30px;
      font-family: "Georgia", serif;
      font-style: italic;
      position: absolute;
      bottom: -0.3em;
      right: 0.1em;
      color: #ffffff;
      font-size: 6em;
      z-index: -1;
    }
  }
}

.header {
  .title {
    font-family: $title;
    background-color: #000000;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  .banner {
    width: 100%;
    opacity: 0.8;
    display: block;
    border: #000000 solid 1px;
  }

  .days {
    display: flex;
    flex-direction: column;
    font-family: $title;
    margin-top: 20px;
    width: auto;
    text-align: center;
    text-transform: uppercase;

    & h1 {
      background-image: url(/assets/red.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      align-self: center;
      display: inline-block;
      font-size: 40px;
      font-weight: 900;
      padding: 20px;
    }

    & p {
      padding: 0;
      margin: 0;
    }
  }
}
