html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box {
  margin: 0 15%;
  height: 630px;
  padding: 0 0 40px 0;
}

.box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  top: 0;
  margin-bottom: 30px;
}

.box ul:last-of-type {
  top: 80px;
  margin-bottom: 300px;
}

.box ul:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px dashed #fff;
  position: absolute;
  top: 0;
  left: 30px;
}

.box ul li {
  margin: 20px 60px 60px;
  position: relative;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  line-height: 20px;
  width: 35%;
}

.box ul li > span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: -30px;
}

.box ul li > span:before,
.box ul li > span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e3be58;
  border: 2px solid #fff;
  position: absolute;
  left: -4.5px;
}

.box ul li > span:before {
  top: -10px;
}

.box ul li > span:after {
  top: 95%;
}

.box .title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 700;
  margin-bottom: 5px;
}

.box .info {
  color: #202020;
}

.box .source {
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px;
}

.box .source a {
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px solid #f40d30;
  -webkit-box-shadow: inset 0 -1px 0 #f40d30;
          box-shadow: inset 0 -1px 0 #f40d30;
  color: inherit;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.box .source a:hover {
  background: #f40d30;
  color: #fff;
}

.box .time span {
  position: absolute;
  left: -100px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.box .time span sup {
  font-size: 8px;
}

.box .time span:first-child {
  top: -16px;
}

#year {
  top: -60px;
  font-size: 25px;
  font-weight: none;
  border: 2px solid white;
  padding: 6px;
  font-family: "Montserrat", sans-serif;
}

.box .time span:last-child {
  top: 94%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e3be58;
  font-family: "Lato", sans-serif;
}

.header .title {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.header .banner {
  width: 100%;
  opacity: 0.8;
  display: block;
  border: #000000 solid 1px;
}

.header .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  width: auto;
  text-align: center;
  text-transform: uppercase;
}

.header .days h1 {
  background-image: url(/assets/red.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  padding: 20px;
}

.header .days p {
  padding: 0;
  margin: 0;
}
