html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box {
  margin: 0 20%;
  height: 630px;
  padding: 0 0 40px 0;
}

.box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  top: 0;
  margin-bottom: 30px;
}

.box ul:last-of-type {
  top: 80px;
  margin-bottom: 150px;
}

.box ul:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px dashed #fff;
  position: absolute;
  top: 0;
  left: 30px;
}

.box ul li {
  margin: 20px 60px 60px;
  position: relative;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  line-height: 20px;
  width: 70%;
}

.box ul li > span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: -30px;
}

.box ul li > span:before,
.box ul li > span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e3be58;
  border: 2px solid #fff;
  position: absolute;
  left: -4.5px;
}

.box ul li > span:before {
  top: -10px;
}

.box ul li > span:after {
  top: 95%;
}

.box .title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  line-height: 25px;
}

.box .info {
  color: #202020;
}

.box .info .quote {
  margin: 0;
  background-color: #ffffd7;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.box .source {
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px;
}

.box .source a {
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px solid #f40d30;
  -webkit-box-shadow: inset 0 -1px 0 #f40d30;
          box-shadow: inset 0 -1px 0 #f40d30;
  color: inherit;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.box .source a:hover {
  background: #f40d30;
  color: #fff;
}

.box .time span {
  position: absolute;
  left: -110px;
  color: #fff;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.box .time span sup {
  font-size: 11px;
}

.box .time span:first-child {
  top: -16px;
  left: -140px;
  border-bottom: solid #fff 1px;
  font-size: 20px;
}

#year {
  top: -70px;
  font-size: 25px;
  font-weight: none;
  border: 2px solid white;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.box .time span:last-child {
  top: 94%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e3be58;
  font-family: "Lato", sans-serif;
}

body .info {
  position: relative;
  padding-left: 10px;
}

body .info:before {
  content: "\201C";
  font-size: 30px;
  font-family: "Georgia", serif;
  font-style: italic;
  position: absolute;
  top: 0.15em;
  left: -0.12em;
  color: #ffffff;
  font-size: 6em;
  z-index: -1;
}

body .info:after {
  content: "\201D";
  font-size: 30px;
  font-family: "Georgia", serif;
  font-style: italic;
  position: absolute;
  bottom: -0.3em;
  right: 0.1em;
  color: #ffffff;
  font-size: 6em;
  z-index: -1;
}

body .info a {
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px solid #f40d30;
  -webkit-box-shadow: inset 0 -1px 0 #f40d30;
          box-shadow: inset 0 -1px 0 #f40d30;
  color: inherit;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

body .info a:hover {
  background: #f40d30;
  color: #fff;
}

body .info p a {
  font-style: italic;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0;
  padding: 0;
}

.nav .list .item {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin-right: 10px;
}

.nav .list .item p {
  display: none;
}

.nav .list .item #bre {
  display: none;
}

.nav .list .item span {
  display: none;
}

.nav .list .item a {
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 30px;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000));
  background: linear-gradient(to right, #ffffff, #ffffff 50%, #000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 400ms ease;
  transition: background-position 400ms ease;
  text-decoration: none;
}

.nav .list .item a:hover {
  background-position: 0 100%;
}

.nav .list .item:first-child {
  margin-top: 30px;
}

.nav .toggle span,
.nav .toggle #toggle {
  display: none;
}

.nav .toggle .fas {
  font-size: 30px;
  top: -15px;
  text-shadow: 2px 2px 0px #ffffff;
}

.nav .toggle .fas a {
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px solid #f40d30;
  -webkit-box-shadow: inset 0 -1px 0 #f40d30;
          box-shadow: inset 0 -1px 0 #f40d30;
  color: inherit;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.nav .toggle .fas a:hover {
  background: #f40d30;
  color: #fff;
}

#circle {
  background-image: url(/assets/bre.png);
  background-size: cover;
  background-position: center;
  border-radius: 50% 50% 50% 50%;
  width: 250px;
  height: 250px;
  margin: 10px 0 10px 0;
  border: 5px solid black;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.header .hero .container {
  font-family: "Montserrat", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.header .hero .container h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 47px;
  text-shadow: 3px 3px 0px #ffffff;
}

.header #count {
  text-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}

.header .days {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  width: auto;
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 0;
}

.header .days h1 {
  background-image: url(/assets/red.png);
  display: inline-block;
  background-size: 100%;
  font-size: 40px;
  font-weight: 900;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.header .days p {
  padding: 0;
  margin: 0;
}

.header .days .update {
  color: #e8e8e8;
  margin-top: 20px;
}

.resources {
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.resources h1 {
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #ffffff;
  margin: 0;
}

.resources .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resources .links a {
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000));
  background: linear-gradient(to right, #ffffff, #ffffff 50%, #000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 400ms ease;
  transition: background-position 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}

.resources .links a:hover {
  background-position: 0 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  margin-top: 30px;
}

.footer a {
  text-decoration: none;
  padding-right: 30px;
  color: #000000;
}

.footer img {
  width: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer .fas,
.footer .fab {
  font-size: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .fas:hover,
.footer .fab:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 768px) {
  .nav .toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 99;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: lowercase;
  }
  .nav .toggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 98;
  }
  .nav .toggle span,
  .nav .toggle #toggle {
    display: block;
  }
  .nav .toggle i {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: inline-block;
    font-size: 3rem;
  }
  .nav .toggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
    left: 0;
  }
  .nav .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: -3%;
    left: -150%;
    width: 100%;
    height: 110vh;
    background-color: #ff002b;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .nav .list .item {
    margin: 0;
  }
  .nav .list .item p {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-size: 25px;
    text-shadow: 3px 3px 0px #000000;
  }
  .nav .list .item #bre {
    display: block;
    width: 250px;
    border: solid black 1px;
    opacity: 0.7;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .nav .list .item a {
    font-size: 50px;
    padding: 15px;
  }
  .nav .list .item:first-child {
    margin-top: 70px;
  }
  .resources h1 {
    font-size: 35px;
  }
  .resources .links a {
    font-size: 25px;
  }
}

@media (max-width: 680px) {
  .box ul li {
    width: 250px;
  }
  .header {
    margin-left: -30px;
  }
  .resources .links a {
    font-size: 20px;
  }
}
